<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Trabalho Final de Arquitetura Web</title>
    <link rel="stylesheet" href="main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
</head>
<body>
<div class="container">

  <h2>Lista de Empregados</h2>
  <p>Listagem dos Empregados da Empresa ACME</p>
  
  <div id="react"></div>
     
  <script src="built/bundle.js"></script>
  
</div>
   
</body>
</html>